<header>
  <ul class="ul-header">
    <li id="li-photo"><img class="photo" src="<%= asset_path('andoni.jpg') %>" alt="photo"></li>
    <li class="li-icon"><i class="fab fa-github-square"></i></li>
    <li class="li-icon"><i class="fab fa-linkedin"></i></li>
    <li class="li-icon"><i class="fas fa-envelope"></i></li>
    <li class="li-icon"><i class="fab fa-twitter-square"></i></li>
    <li class="li-icon"><i class="fab fa-instagram"></i></li>
  </ul>
</header>
