<header>
  <ul class="ul-header">
    <li id="li-photo"><img class="photo" src="<%= asset_path('andoni.jpg') %>" alt="photo"></li>
    <li class="li-icon"><i class="fab fa-github-square myfa"></i></li>
    <li class="li-icon"><i class="fab fa-linkedin myfa"></i></li>
    <li class="li-icon"><i class="fas fa-envelope myfa"></i></li>
    <li class="li-icon"><i class="fab fa-twitter-square myfa"></i></li>
    <li class="li-icon"><i class="fab fa-instagram myfa"></i></li>
  </ul>
</header>
