<div class="info-div grid-2">
  <div class="project">
    <img src="<%= asset_path('projects/rails.jpg') %>" class="img-class" alt="Apple">
    <p class="p-project">
      This project is my first approach to a app on rails is about creating events
      for spesific group of people.
    </p>
    <a class="block-cover"></a>
    <div class="go-icon">
      <a href="https://github.com/Juakata/private-events" target="_blank"><i class="fab fa-github"></i></a>
    </div>
  </div>

  <div class="project">
    <img src="<%= asset_path('projects/cabinet.png') %>" class="img-class" alt="Apple">
    <p class="p-project">
      This project was made following a tutorial, it allows you to save docs in it.
    </p>
    <a class="block-cover"></a>
    <div class="go-icon">
      <a href="https://github.com/Juakata/cabinet_tutorial" target="_blank"><i class="fab fa-github"></i></a>
    </div>
  </div>

  <div class="project">
    <img src="<%= asset_path('projects/face.png') %>" class="img-class" alt="Apple">
    <p class="p-project">
      This project is a try to copy the famous Facebook App.
    </p>
    <a class="block-cover"></a>
    <div class="go-icon">
      <a href="https://github.com/Juakata/cabinet_tutorial" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://intense-harbor-38641.herokuapp.com/" target="_blank"><i class="fas fa-globe"></i></a>
    </div>
  </div>
</div>
