<div class="info-div grid-2">
  <div class="project">
    <img src="<%= asset_path('projects/ruby.jpg') %>" class="img-class" alt="Apple">
    <p class="p-project">
      This project is my own implementation of the famous function Bubble Sort.
    </p>
    <a class="block-cover"></a>
    <div class="go-icon">
      <a href="https://github.com/Juakata/Bubble-Sort" target="_blank"><i class="fab fa-github"></i></a>
    </div>
  </div>

  <div class="project">
    <img src="<%= asset_path('projects/ruby.jpg') %>" class="img-class" alt="Apple">
    <p class="p-project">
      This project is my own implementation of Enumerable module on ruby.
    </p>
    <a class="block-cover"></a>
    <div class="go-icon">
      <a href="https://github.com/Juakata/Enumerable-Methods" target="_blank"><i class="fab fa-github"></i></a>
    </div>
  </div>

  <div class="project">
    <img src="<%= asset_path('projects/ruby.jpg') %>" class="img-class" alt="Apple">
    <p class="p-project">
      This project is the game Tic-Tac-Toe.
    </p>
    <a class="block-cover"></a>
    <div class="go-icon">
      <a href="https://github.com/Juakata/Tic-Tac-Toe-Game" target="_blank"><i class="fab fa-github"></i></a>
    </div>
  </div>
</div>
