<%= render 'header' %>

<h2 class="title1">── My Story ──</h2>
<div class="info-div grid-2">
  <p>
    Hi, I'm Andoni from El Salvador. I design and build user interfaces and love to code with people around
    the world. Thanks to <a href="https://www.microverse.org/">Microverse</a> I was able to work with people from Brazil, India, Mexico, Kenia, Colombia and United States. I have
    learned plenty of cool things from them while working in the projects and of course always
    doing our best in every single one.
  </p>
  <ul class="abilities">
    <li id="main-areas">Main Areas</li>
    <li>● HTML & CSS</li>
    <li>● Ruby </li>
    <li>● Ruby on Rails </li>
    <li>● JS </li>
    <li>● React & Redux </li>
  </ul>
</div>

<h2 class="title1">── HTML & CSS ──</h2>
<%= render 'htmlcss' %>

<h2 class="title1">── Javascript ──</h2>
<%= render 'javascript' %>
