<header>
  <ul class="ul-header ul-user">
    <li class="li-user"><%= link_to 'Messages', all_messages_path, remote: true %></li>
    <li class="li-user" id="li-photo"><img class="photo" src="<%= asset_path('andoni.jpg') %>" alt="photo"></li>
    <li class="li-user"><%= link_to "Areas", areas_path, remote: true %></li>
  </ul>
  <img class="img-back-header" src="<%= asset_path('coding.jpg') %>" alt="coding">
</header>

<main id="main" class="user-main"></main>
