/** Global **/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #e0e0e0;
}

header {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/** Media Icons **/

.myfa {
  font-size: 35px;
  color: #cfcfcf;
  cursor: pointer;
  transform: rotate(-15deg);
  transform-origin: bottom left;
  transition: transform .4s;
}

.myfa:hover {
  transform: rotate(0);
}

.fa-twitter-square:hover {
  color: #11e3f2;
}

.fa-github-square:hover {
  color: white;
}

.fa-instagram:hover {
  color: #d400cd;
}

.fa-envelope:hover {
  color: #f20000;
}

.fa-linkedin:hover {
  color: #0073b1;
}

/** Header **/

.ul-header {
  padding: 20px;
  background: linear-gradient(to bottom, #0a001c, #0d0024, #11002e, #17003d, #1f0052, #0a001c, #0d0024);
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.photo {
  width: 100px;
  border-radius: 50%;
  margin: 0;
  cursor: pointer;
  transition: transform .7s;
}

.photo:hover {
  transform: scale(1.2);
}

/** body **/

#main-areas {
  position: absolute;
  max-width: 300px;
  border-radius: 10px;
  top: -20px;
  left: 0;
  right: 0;
  margin: auto;
  background: #abb1c9;
  color: #001052;
  text-shadow: 1px 1px 1px white;
  box-shadow: 0 0 8px #190033;
}

.title1 {
  text-align: center;
}

.title1:hover {
  color: #001052;
}

.info-div {
  padding: 50px;
  background: #abb1c9;
  color: #0d0017;
  font-size: 18px;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.abilities {
  position: relative;
  background: #190033;
  color: #abb1c9;
  border-radius: 15px;
  padding: 15px;
  font-size: 30px;
  text-align: center;
}

.abilities li {
  display: inline-block;
  margin: 5px 15px;
  font-weight: bold;
  cursor: pointer;
}

.abilities li:hover {
  color: white;
}

.img-class {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 0 13px black;
}

.project {
  position: relative;
  cursor: pointer;
}

.p-project {
  position: absolute;
  bottom: 0;
  left: 20px;
  font-weight: bold;
  color: white;
  z-index: 2;
}

.block-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, transparent, black);
  z-index: 1;
}

.go-icon {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  font-size: 70px;
  z-index: 3;
  opacity: 0;
  transition: top .7s, opacity .5s;
}

.project:hover .go-icon {
  top: 40%;
  opacity: 1;
}

.project:hover .block-cover {
    background: black;
    opacity: 0.8;
}

.project:hover .p-project {
    opacity: 0;
}

.go-icon a {
  color: white;
}

.go-icon a:hover {
  color: #4287f5;
}

/** Media Queries **/
@media(max-width: 700px) {
  .grid-2 {
    grid-template-columns: repeat(1, 1fr);
  }

  .abilities {
    margin-top: 20px;
  }

  .info-div {
    padding: 10px;
    font-size: 15px;
  }

  .abilities {
    font-size: 25px;
  }

  .go-icon {
    width: 113px;
    font-size: 50px;
  }
}
